#part6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 20rem;
}
#part6 img{
    opacity: 60%;
}
.imgtext2{
    position:absolute;
  margin-top: 12rem;
    left: 50%;
    transform: translate(-50%, -50%);
   text-align: center;
   align-items: center;
    color:rgb(251, 247, 247);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}