#page4{
    /* display: flex; */
    background-color: black;
    padding-top: 20rem;
   justify-content: center;
   position: relative;
}
#part5{
    text-align: center;
}
#part5 p{
    color: rgb(175, 172, 172);
}
.iconhere{
    display: flex;
    flex-direction: row;
    opacity: 80%;
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    align-items: center;
    text-align: center;
    
}
@media screen and(max-width:65rem){
    .icon{
      width: 100%;
      display: block;
    }
  }
