#page6{
    background-color: black;
    position: relative;
    padding-top: 10rem;
}
#part7{
    display: flex;
    justify-content: space-around;
  text-align:start;
}
.text6 ul{
    list-style: none;  
}
.text7 ul{
    list-style: none;
}